@{
    ViewData["Title"] = "Fridge Tracker";
}

<div class="row">
    <div class="col-md-6"style="float: none; margin: 0 auto; text-align:center;" >
        <h2>Welcome to the Fridge Tracker!</h2>
        <div class="col-md-6" style="float: none; margin: 0 auto;">
			<a asp-area="" asp-controller="Items" asp-action="Index">
			<img class="img-responsive" src="~/images/fridge_image.jpg" />
			</a>
		</div>
    </div>
    
</div>
